html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* Prevents track or mouse scroll gestures from triggering page navigation in chrome off of displayed page. */
  overscroll-behavior: contain;
}

/* For dh2-i18n-rc1 only! */
#data-harmonizer-tabs {
  /* display: none; */
}


.add-rows-input {
  max-width: 60px;
}

/* MAKING BOOTSTRAP tab states more pronounced */ 
li.nav-item > a.nav-link.active {
  font-weight:bold
}
li.nav-item.disabled {
  background-color: #eee !important;
  opacity: 0.7;
  cursor: not-allowed !important;
}


/* Tooltip container */
.tooltipy {
  position: relative;
  display: inline-block;
  /*border:1px solid red; */
  cursor: pointer;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipy .tooltipytext {
  /*visibility: hidden;*/
  min-width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  padding: 2px;
  border-radius: 3px;
  border:1px solid green;
  /* Position the tooltip text */
  position: absolute;
  margin: 0px !important;
  margin-bottom: 25px;
  bottom:25px;
  left:0px;
  text-wrap: nowrap !important;
  min-width: auto !important;
  font-weight:normal;
  font-size: 0.7rem;
  opacity: 0;
  transition: opacity 1s;
}

.tooltipy .tinytip {
    bottom:100%; /* IMPORTANT: Must keep tinytip away from tab click area */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipy:hover .tooltipytext {
  visibility:visible;
  opacity: 1;
}

/* Hide tooltip text for DH tabs that aren't disabled */
#data-harmonizer-tabs .tooltipy:not(.disabled) .tooltipytext {
  opacity: 0;
}
#data-harmonizer-tabs .tooltipy.disabled .tooltipytext {
  bottom:100%;
}

#data-harmonizer-tabs .nav-link {
  padding: .5rem 1rem;
  margin: 0;
}

button.btn.small {
   padding: 5px !important;
   margin: 2px 0px 2px 4px !important;
}


.slot-report-select {width:150px}

select#select-translation-localization {
  margin-left:15px;
  appearance: base-select !important; /*Adds ability to show SVG icons in chrome.*/
}

select#select-translation-localization:has(> option[value="en"]:checked)::before {
  content: url("translations/flags/ca.svg");
  width: 15px;
  margin-right: 15px;
}
select#select-translation-localization:has(> option[value="fr"]:checked)::before {
  content: url("translations/flags/ca.svg");
  width: 15px;
  margin-right: 15px;
}

